.registration-form {
    border: 5px double black;
    padding: 10px;
    margin: auto 25%; 
}

#main-div-1, #main-div-4{
    text-align: center;
}

#main-div-2 {
    width: 25%;
    display: inline-block;
    padding-left: 5%;
    line-height: 80%;
    text-align: center;
}


#main-div-3 {
    width: 65%;
    display: inline-block;
    line-height: 200%;
}


#main-div-4{
    margin-top: 3%;
}

.left-side{
    display: inline-block;
    width: 30%;
    text-align: right;
}

.right-side{
    display: inline-block;
    width: 65%;
}

