html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.result {
    background-color: black;
    color: white;
    height: 50%%;
    width: 60%;
    padding: 10px;
    margin: auto;
}

#main-div-1 
{
    text-align: center;
    text-decoration: underline;
}

#main-div-2 {
    display: inline-block;
    width: 40%;
    height: 50%;
    text-align: center;
}

#main-div-3 {
    display: inline-block;
    background-color: #3165D4;
    margin: 0% 10%;
    width: 40%;
    float: right;
    font-size: 30px;
}

.left-side {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.right-side {
    display: inline-block;
    width: 50%;
    text-align: left;
}

#main-div-4 {
    text-align: center;
}

#main-div-4 div{
    background-color: #3165D4;
    width: 30%;
    margin: 2% 35% 2% 35%;
    font-size: 20px;
}

