html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.multiple-question {
    background-color: black;
    padding: 10px;
    color: white;
    height: 100%;
    width: 100%;
}

h1 {
    text-decoration: underline;
    text-align: center;
}

#main-div-2 {
    background-color: #3165D4;
    width: 80%;
    padding: 1% 5% 1% 5%;
    margin: 0% 5%;
    border: 3px solid white;
    font-size: 150%;
}

#main-div-3 {
    width: 80%;
    padding: 1% 5%;
    margin: 1% 5%;
    border: 3px solid white;
}

[type="checkbox"]{
    display: inline-block;
    margin:  10px 20px;
    transform: scale(1.5);
}

.answer {
    background-color: #3165D4;
    padding: 1% 0%;
    margin: 2% 0%;
    border: 1px solid white;
    font-size: 150%;
}


#main-div-4 {
    text-align: right;
    margin-top: 1%;
    margin-right: 5%;
}

img {
    background-color: #3165D4;
}

#main-div-5 {
    margin-top: 10px;
}

#progress_bar{
    height: 20px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 8px;
    background-color: #3165D4;
}

#track {
    height: 20px;
    width: 40%;
    border-radius: 8px;
    background-color: white;
}